*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
  width: 100%;
}

.menu--humb {
  color: slateblue;
}

.header {
  display: flex;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
}

.header > * {
  margin: 1rem;
}

.link__logo {
  text-decoration: none;
  color: inherit;
}

.logo__title {
  color: slateblue;
  font-weight: 900;
}

.container {
  background-image: url(./images/Header\ bg@2x.png);
  width: 100vw;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-bottom-left-radius: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 7rem 1rem 0 1rem;
}

.list-cont-inp > *:not(:first-child) {
  margin-bottom: 0.5rem;
}

.intro > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.intro__heading {
  font-weight: 700;
  line-height: 2.5rem;
}

.intro__text {
  font-weight: 400;
  line-height: 1.5rem;
}

.intro__contact {
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  font-size: 0.9rem;
}

.intro__social--cont {
  display: flex;
  list-style: none;
}

.intro__social--cont > *:not(:last-child) {
  margin-right: 0.5rem;
}

.link__social {
  text-decoration: none;
  color: black;
}

.color__circle {
  color: #c1c7d0 !important;
  font-size: 8px;
}

.container__card {
  display: grid;
  width: 90vw;
  margin: 2rem auto;
  grid-template-rows: repeat(4, max-content);
}

.card {
  width: 100%;
  margin: 1rem auto;
  border: 1px solid #dfe1e6;
  background-color: white;
  border-radius: 16px;
}

.card__img--cont {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem auto;
}

.img-wrapper {
  width: 100%;
}

.card__img--cont > *:not(:last-child) {
  margin-bottom: 1rem;
}

.img__card {
  width: 100%;
}

.project__info--cont {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.project__info--cont > *:not(:last-child) {
  margin-right: 0.5rem;
}

.list__lng--btn {
  list-style: none;
  display: flex;
}

.desc__project {
  font-weight: bold;
  color: #172b4d;
}

.project__info--title {
  color: #344563;
  font-weight: 700;
  line-height: 16px;
}

.project__info--dot {
  display: flex;
  align-items: center;
}

.project__info--author {
  color: #c1c7d0;
  font-weight: 500;
  line-height: 16px;
  font-size: 13px;
}

.project__info--date {
  color: #c1c7d0;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
}

.project__desc--text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.lng__btn {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  border: none;
}

.list__lng--btn > *:not(:last-child) {
  margin-right: 0.5rem;
}

.lng__btn:focus {
  outline: none;
}

.link__btn--project {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #396df2;
  padding: 8px 18px;
  border: 1px solid #396df2;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

.link__btn--project:active {
  background-color: white !important;
  color: #396df2 !important;
}

.link__btn--project:hover {
  background-color: #396df2;
  color: white;
  cursor: pointer;
}

.about {
  background-color: white;
  border-top-right-radius: 50px;
}

.intro__resume {
  padding-top: 6rem;
}

.about > .intro__resume > *:not(:first-child) {
  margin-bottom: 1rem;
}

.link__btn--resume {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #396df2;
  padding: 8px 18px;
  border: 1px solid #396df2;
  border-radius: 8px;
  letter-spacing: 0.03em;
  align-self: flex-start;
}

.link__btn--resume:hover {
  background-color: #396df2;
  color: white;
  cursor: pointer;
}

.link__btn--resume:active {
  background-color: white !important;
  color: #396df2 !important;
}

.skills__cont {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}

.list__skills--cont {
  list-style: none;
  margin-bottom: 3rem;
}

.cont__skill {
  display: flex;
  width: 95%;
  margin: 1.5rem auto;
  justify-content: space-between;
  align-items: center;
}

.name__skill {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages__cont {
  list-style: none;
  width: 100%;
}

.language__cont {
  display: flex;
  width: 95%;
  margin: 1rem auto;
  align-items: center;
  padding: 0.5rem;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.icon__chevron {
  cursor: pointer;
}

.img__cont {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.img__lang {
  width: 100%;
  border-radius: 50%;
}

.skill__bord {
  border-bottom: 2px solid #dfe1e6;
  padding-bottom: 1.5rem;
}

.contact-cont-form {
  background-image: url(./images/contactform\ background.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-top-left-radius: 50px;
  margin-top: 2rem;
}

.cont-inp-form {
  width: 100vw;
}

.list-cont-inp {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-field {
  align-self: stretch;
}

.user-name,
.user-email,
.user-message {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
}

.user-name,
.user-email:focus {
  outline: none;
}

.user-message:focus-visible {
  outline: none;
}

.cont-btn-form {
  align-self: flex-start;
}

.title-form {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
}

.text-form {
  font-size: 0.8rem;
  text-align: center;
}

.title-form,
.text-form {
  color: white;
}

.form-btn-submit {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #396df2;
  padding: 8px 18px;
  border: 1px solid #396df2;
  border-radius: 8px;
  letter-spacing: 0.03em;
  align-self: flex-start;
}

.form-btn-submit:active {
  background-color: white !important;
  color: #396df2 !important;
}

.form-btn-submit:hover {
  background-color: #396df2;
  color: white;
  cursor: pointer;
}
